@charset 'utf-8';


//======================================================================
//  Google Fonts
//======================================================================

/* Noto Sans JP
font-family: 'Noto Sans JP', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese');


/* Noto Serif JP
font-family: 'Noto Serif JP', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&display=swap&subset=japanese');


/* Raleway
font-family: 'Raleway', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* Oswald
font-family: 'Oswald', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');


/* Roboto Condensed
font-family: 'Roboto Condensed', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');




//======================================================================
//  Base
//======================================================================

$english : 'Raleway', sans-serif;


body{
  font-family: 'Noto Sans JP', sans-serif;
}


*:focus{
  outline: none !important;
}




//======================================================================
//  Break Point
//======================================================================

$breakpoint-lg : 992px;
$breakpoint-xl : 1400px;




//======================================================================
//  読み込み
//======================================================================

@import './footer.scss';




//======================================================================
//  END
//======================================================================
